@media screen and (max-width: 576px) {
    .hero-title {
        font-size: 33px !important;
        /* text-align: center; */
        width: 100%;
    }

    .hero-subtitle {
        font-size: 11px !important;
        margin: 15px 0 !important;

    }

    .stats {
        gap: 16px !important;
        justify-content: space-between;
        /* display: block; */
    }

    .stats h4 {
        font-size: 25px;
    }

    .stats p {
        font-size: 10px;
    }

    .hero-btn {
        padding: 4px;
        margin-bottom: 12px !important;
        width: 100%;

    }

    .hero {
        width: 92%;
        margin: 0 auto;
        text-align: left;
    }

    .newsletter-title {
        font-size: 21px !important;
        max-width: 100%;
    }

    .newsletter-form {
        width: 100%;
        gap: 10px;
    }

    .newsletter-container {
        padding: 25px;
    }

    .newsletter-input .MuiOutlinedInput-root,
    .newsletter-button {
        height: 35px;
    }

    .aboutmain {
        width: 92% !important;
        margin: 0 auto;
    }

    .footershop {
        font-size: 12px !important;
    }

    .foooooter {
        margin-top: 110px;
    }

    .allbrand {
        padding: 4px 6px;
        margin: 0 3px;

    }

    .master {
        padding: 3px 6px;
    }

    .footer-bottom {
        text-align: center;
    }

    .footer {
        width: 92%;
    }

    .btnoutline {
        font-size: 15px !important;
        margin-right: 10px !important;
    }

    .btnlatest {

        display: none !important;
    }

    .btnreview {
        font-size: 9px !important;
    }

    .rename {
        font-size: 17px !important;
    }

    .retext {
        width: 100% !important;
        font-size: 13px !important;
        margin-bottom: 13px !important;
    }

    .redate {
        font-size: 13px !important;
    }

    .Allreview {
        font-size: 15px !important;
    }

    .Allreviewspan {
        font-size: 12px !important;

    }

    .allReviews {
        width: 92%;
        margin: 0 auto;
    }

    .loadbtn {
        margin-top: 10px !important;
    }

    .custmTitle {
        font-size: 28px !important;
        width: 200px;
        line-height: 33px !important;
    }

    .custMain {
        width: 92%;
    }

    .css-igghdu {
        margin-bottom: 50px !important;
    }
    
    .checkout-btn {
        padding: 8px !important;
        font-size: 11px !important;
        margin-top: 14px !important;
    }

    .cart-title {
        margin-bottom: 16px !important;
        font-size: 20px !important;

    }

    .apply-btn {
        font-size: 11px !important;
        padding: 3px 10px !important;
    }

    .css-1pzfmz2-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 7px !important;
        font-size: 14px !important;
    }

    .arrRight {
        margin-left: 10px;
        font-size: 25px;
    }

    .summary-title {
        margin-bottom: 13px !important;
        font-size: 15px !important;
    }

    .row {
        margin: 8px 0;
    }

    .subname {
        font-size: 13px !important;
    }

    .total {
        font-size: 8px !important;

    }

    .totaldoo {
        font-size: 18px !important;
        color: black;
    }

    .discountcart {
        font-size: 13px !important;
    }

    .subtotal {
        font-size: 13px !important;
    }

    .dividercss {
        margin: 15px 0 !important;
    }

    .item-img {
        width: 70px;
    }

    .cart-item {
        padding: 5px 0;
    }

    .cart-card {
        padding: 0 10px !important;
    }

    .cartmain {
        width: 90%;
    }

    .item-title {
        font-size: 13px !important;
    }

    .item-sub {
        font-size: 10px !important;
    }

    .price {
        margin-top: 6px !important;
        font-size: 13px !important;
    }


}

@media screen and (min-width: 576px) {
    .hero-title {
        font-size: 49px !important;
        /* text-align: center; */
        width: 90%;
    }

    .hero-subtitle {
        font-size: 14px !important;
        margin: 17px 0 !important;

    }

    /* .stats {
        gap: 27px !important;
        justify-content: space-between;
    } */

    .stats h4 {
        font-size: 35px;
    }

    .stats p {
        font-size: 12px;
    }

    .hero-btn {
        width: 40%;
        margin-bottom: 12px !important;

    }

    .hero {
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }


    .brand-item {
        font-size: 22px !important;
    }

    .brand-container {
        gap: 4px;

    }

    .newsletter-title {
        font-size: 27px !important;
        max-width: 100%;
    }

    .newsletter-form {
        width: 100%;
        gap: 12px;
    }


    .newsletter-container {
        padding: 27px 40px;
    }

    .newsletter-input .MuiOutlinedInput-root,
    .newsletter-button {
        height: 40px;
    }

    .aboutmain {
        width: 90% !important;
        margin: 0 auto;
    }

    .footershop {
        font-size: 12px !important;
    }

    .foooooter {
        margin-top: 110px;
    }

    .allbrand {
        padding: 4px 6px;
        margin: 0 3px;

    }

    .master {
        padding: 3px 6px;
    }

    .footer-bottom {
        text-align: center;
    }

    .footer {
        width: 90%;
    }

    .custmTitle {
        font-size: 32px !important;
        width: 400px;
    }

    .custMain {
        width: 100%;
    }

    .btnoutline {
        font-size: 18px !important;
    }

    .btnlatest {
        font-size: 11px !important;
        margin: 8px !important;
    }

    .btnreview {
        font-size: 11px !important;
    }

    .rename {
        font-size: 18px !important;
    }

    .retext {
        width: 100% !important;
        font-size: 15px !important;
        margin-bottom: 16px !important;
    }

    .redate {
        font-size: 15px !important;
    }

    .Allreview {
        font-size: 18px !important;
    }

    .Allreviewspan {
        font-size: 12px !important;

    }

    .allReviews {
        width: 90%;
        margin: 0 auto;
    }

    .css-igghdu {
        margin-bottom: 100px !important;
    }

    .css-igghdu {
        margin-bottom: 70px !important;
    }

    .checkout-btn {
        padding: 11px !important;
        font-size: 13px !important;
        margin-top: 17px !important;
    }

    .cart-title {
        margin-bottom: 20px !important;
        font-size: 26px !important;

    }

    .apply-btn {
        font-size: 12px !important;
        padding: 4px 15px !important;
    }

    .css-1pzfmz2-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 10px !important;
        font-size: 15px !important;
    }

    .arrRight {
        margin-left: 10px;
        font-size: 25px;
    }

    .summary-title {
        margin-bottom: 13px !important;
        font-size: 15px !important;
    }

    .row {
        margin: 9px 0;
    }

    .subname {
        font-size: 13px !important;
    }

    .total {
        font-size: 8px !important;

    }

    .totaldoo {
        font-size: 18px !important;
        color: black;
    }

    .discountcart {

        font-size: 13px !important;

    }

    .subtotal {

        font-size: 13px !important;
    }

    .dividercss {
        margin: 15px 0 !important;
    }

    .item-img {
        width: 90px;
    }

    .cart-item {
        padding: 10px 0;
    }

    .cartmain {
        width: 90%;
    }

    .item-title {
        font-size: 14px !important;
    }

    .item-sub {
        font-size: 12px !important;
    }

    .price {
        font-weight: 700;
        margin-top: 6px !important;
        font-size: 16px !important;
    }

    


}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 35px !important;
        /* width: 80%; */
    }

    .hero-subtitle {
        font-size: 10px !important;
        margin: 15px 0 !important;

    }

    .stats {
        gap: 27px !important;
    }

    .stats h4 {
        font-size: 25px;
    }

    .stats p {
        font-size: 9px;
    }

    .hero-btn {
        padding: 6px 24px !important;
        margin-bottom: 12px !important;
        font-size: 10px !important;
    }

    .hero {
        width: 85%;
        margin: 0 auto;
    }

    .brand-item {
        font-size: 22px !important;
    }

    .brand-container {
        gap: 40px;

    }

    .maintitle {
        font-size: 35px !important;
        margin-top: 50px !important;
        margin-bottom: 40px !important;
    }

    .image {
        height: 100% !important;
        width: 100% !important;
    }

    .productName {
        font-size: 14px !important;
    }

    .rating {
        gap: 3px;
    }

    .ratingsize {
        font-size: 20px !important;
    }

    .price,
    .oldPrice {
        font-size: 17px !important;
    }

    .content {
        padding: 13px 5px !important;
    }

    .viewBtn {
        margin-bottom: 50px !important;
    }

    .discount {
        font-size: 12px;

        padding: 3px 8px;
    }

    .ratingText {
        font-size: 13px !important;

    }

    .newsletter-title {
        font-size: 27px !important;
        max-width: 300px;
    }

    .newsletter-form {
        width: 200px;
        gap: 12px;
    }

    .newsletter-container {
        padding: 27px 40px;
    }

    .newsletter-input .MuiOutlinedInput-root,
    .newsletter-button {
        height: 43px;
    }

    .aboutmain {
        width: 85% !important;
    }

    .footershop {
        font-size: 12px !important;
    }

    .foooooter {
        margin-top: 35px;
    }

    .allbrand {
        padding: 5px 8px;
        margin: 0 5px;

    }

    .master {
        padding: 4px 8px;
    }

    .footer {
        width: 85%;
    }

    .custmTitle {
        font-size: 33px !important;
        width: 80%;
        justify-content: space-between;


    }

    .custMain {
        width: 85%;
        justify-content: space-between;
    }

    .btnoutline {

        font-size: 21px !important;
    }

    .btnlatest {

        font-size: 12px !important;
        margin: 14px !important;
    }

    .btnreview {
        font-size: 12px !important;
    }

    .Allreview {
        font-size: 20px !important;
    }

    .Allreviewspan {
        font-size: 14px !important;

    }

    .allReviews {
        width: 85%;
    }

    .cartmain {
        width: 85%;
    }

    .css-1pzfmz2-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 1px !important;
        font-size: 10px !important;
    }

    .row {
        margin: 6px 0;
    }

     .apply-btn {
        font-size: 9px !important;
        padding: 4px 10px !important;
    }

    .checkout-btn {
        padding: 9px !important;
        font-size: 10px !important;
        margin-top: 15px !important;
    }

    .arrRight {
        margin-left: 10px;
        font-size: 20px;
    }











}

@media screen and (min-width: 992px) {
    .hero-title {
        font-size: 40px !important;
    }

    .hero-subtitle {
        font-size: 11px !important;
        margin: 17px 0 !important;

    }

    .stats {
        gap: 26px !important;
    }

    .stats h4 {
        font-size: 25px;
    }

    .stats p {
        font-size: 10px;
    }

    .hero-btn {
        padding: 7px 29px !important;
        margin-bottom: 16px !important;
        font-size: 11px !important;
    }

    .hero {
        width: 80%;
        margin: 0 auto;
    }

    .brand-item {
        font-size: 30px !important;
    }

    .brand-container {
        gap: 45px;
    }

    .maintitle {
        font-size: 35px !important;
        margin-top: 50px !important;
        margin-bottom: 40px !important;
    }

    .image {
        height: 200px !important;
        width: 174px !important;
    }

    .productName {
        font-size: 14px !important;
    }

    .rating {
        gap: 3px;
    }

    .ratingsize {
        font-size: 20px !important;
    }

    .price,
    .oldPrice {
        font-size: 17px !important;
    }

    .content {
        padding: 13px 5px !important;
    }

    .viewBtn {
        margin-bottom: 50px !important;
    }

    .discount {
        font-size: 12px;

        padding: 3px 8px;
    }

    .ratingText {
        font-size: 13px !important;

    }

    .newsletter-title {
        font-size: 29px !important;
        max-width: 420px;
    }

    .newsletter-form {
        width: 240px;
        gap: 12px;
    }

    .newsletter-container {
        padding: 27px 45px;
    }

    .newsletter-input .MuiOutlinedInput-root,
    .newsletter-button {
        height: 43px;
    }

    .aboutmain {
        width: 80% !important;
    }

    .footershop {
        font-size: 12px !important;
    }

    .foooooter {
        margin-top: 40px;
    }

    .allbrand {
        padding: 7px 10px;
        margin: 0 8px;
    }

    .master {
        padding: 6px 10px;
    }

    .footer {
        width: 80%;
    }

    .custmTitle {
        font-size: 35px !important;
    }

    .custMain {
        width: 80%;
    }

    .retext {
        width: 330px !important;
    }

    .retext {
        width: 336px !important;
    }


    .allReviews {
        width: 80%;
    }

    .checkout-btn {
        padding: 6px !important;
        margin-top: 20px !important;
    }

    .cart-title {
        margin-bottom: 20px !important;
        font-size: 30px !important;

    }

    .arrRight {
        margin-left: 10px;
        font-size: 25px;
    }

    .css-igghdu {
        margin-bottom: 90px !important;
    }

    .summary-title {
        margin-bottom: 16px !important;
        font-size: 18px !important;
    }

    .row {
        margin: 16px 0;

    }

    .subname {
        font-size: 15px !important;
    }

    .total {
        font-size: 10px !important;

    }

    .totaldoo {
        font-size: 22px !important;
    }

    .discountcart {
        font-size: 16px !important;

    }

    .subtotal {
        font-size: 16px !important;
    }

    .dividercss {
        margin: 30px 0 !important;
    }

    .item-img {
        width: 110px;
    }

    .cart-item {
        padding: 20px 0;
    }

    .cartmain {
        width: 80%;
    }

    .item-title {
        font-size: 17px !important;
    }

    .item-sub {
        font-size: 14px !important;

    }

    .price {
        font-weight: 700;
        margin-top: 6px !important;
        font-size: 18px !important;
    }

}

@media screen and (min-width: 1200PX) {
    .hero-title {
        font-size: 48px !important;
    }

    .hero-subtitle {
        font-size: 14px !important;
        margin: 20px 0 !important;

    }

    .stats h4 {
        font-size: 32px;
    }

    .stats p {
        font-size: 12px;
    }

    .hero-btn {
        padding: 8px 38px !important;
        margin-bottom: 22px !important;
        font-size: 13px;
    }

    .brand-item {
        font-size: 31px !important;
    }

    .brand-container {
        gap: 82px;
    }

    .maintitle {
        font-size: 40px !important;
        margin-top: 55px !important;
        margin-bottom: 45px !important;
    }

    .image {
        height: 240px !important;
        width: 212px !important;
    }

    .productName {
        font-size: 17px !important;
    }

    .rating {
        gap: 4px;
    }

    .ratingsize {
        font-size: 20px !important;
    }

    .price,
    .oldPrice {
        font-size: 20px !important;
    }

    .content {
        padding: 13px 5px !important;
    }

    .viewBtn {
        margin-bottom: 55px !important;
    }

    .discount {
        font-size: 14px;
        padding: 4px 10px;
    }

    .ratingText {
        font-size: 15px !important;

    }

    .newsletter-title {
        font-size: 33px !important;
        max-width: 480px;
        line-height: 1.2 !important;
    }

    .newsletter-form {
        width: 280px;
        gap: 15px;
    }

    .newsletter-container {
        padding: 38px 58px;
    }

    .newsletter-input .MuiOutlinedInput-root,
    .newsletter-button {
        height: 48px;
    }

    .footershop {
        font-size: 13px !important;
    }

    .foooooter {
        margin-top: 70px;
    }

    .custmTitle {
        font-size: 40px !important;
    }

    .btnoutline {

        font-size: 24px !important;
    }

    .btnlatest {

        font-size: 14px !important;
        margin: 14px !important;

    }

    .btnreview {
        font-size: 15px !important;
    }


    .rename {
        font-size: 19px !important;
    }

    .retext {
        width: 420px !important;
        font-size: 16px !important;
        margin-bottom: 18px !important;
    }

    .redate {
        font-size: 16px !important;

    }

    .Allreview {
        font-size: 22px !important;
    }

    .Allreviewspan {
        font-size: 15px !important;

    }

    .checkout-btn {
        padding: 8px !important;
    }

    .cart-title {
        margin-bottom: 25px !important;
        font-size: 32px !important;
    }

    .css-igghdu {
        margin-bottom: 120px !important;
    }

    .css-1pzfmz2-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 5 !important;
        font-size: 14px !important;
    }

    .arrRight {
        margin-left: 10px;
        font-size: 30px;
    }



}

@media screen and (min-width: 1400px) {
    .hero-title {
        font-size: 55px !important;
    }

    .hero-subtitle {
        font-size: 15px !important;
        max-width: 530px !important;
    }

    .stats {
        gap: 47px !important;
    }

    .stats h4 {
        font-size: 35px;
    }

    .stats p {
        font-size: 14px;
    }

    .hero-btn {
        padding: 10px 50px !important;
        border-radius: 25px !important;
        font-size: 15px !important;
    }

    .brand-item {
        font-size: 33px !important;
    }

    .brand-container {
        gap: 112px;
    }

    .maintitle {
        font-size: 44px !important;
        margin-top: 70px !important;
        margin-bottom: 50px !important;
    }

    .image {
        height: 290px !important;
        width: 250px !important;
    }

    .productName {
        font-size: 19px !important;
    }

    .rating {
        gap: 5px;
    }

    .ratingsize {
        font-size: 22px !important;
    }

    .price,
    .oldPrice {
        font-size: 22px !important;
    }

    .content {
        padding: 15px 5px !important;
    }

    .viewBtn {
        margin-bottom: 70px !important;
    }

    .boxSize {
        max-width: 1121px;
    }

    .newsletter-title {
        font-size: 35px !important;
        max-width: 500px;
        line-height: 1.2 !important;
    }

    .newsletter-form {
        width: 350px;
    }

    .newsletter-input .MuiOutlinedInput-root,
    .newsletter-button {
        height: 50px;
    }

    .footershop {
        font-size: 15px !important;
    }

    .foooooter {
        margin-top: 80px;
    }

    .custmTitle {
        font-size: 44px !important;
    }

    .rename {
        font-size: 20px !important;
    }

    .retext {
        width: 500px !important;
        font-size: 17px !important;
        margin-bottom: 20px !important;
    }

    .redate {
        font-size: 17px !important;
    }

    .checkout-btn {
        padding: 12px !important;
    }

    .cart-title {
        margin-bottom: 30px !important;
        font-size: 35px !important;
    }



}